.data {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ram {
  position: relative;
  color: white;
  background: #0000A8;
  border: 10px double #57FFFF;
  flex: calc(50% - 5px);
  overflow-y: auto;

  p {
    background: #A80000;
    text-align: center;
    font-weight: bold;
    color: #F7F879;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid #57FFFF;
  }
}

.row_counter {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #57FFFF;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  background: #0000A8;

  span {
  }
}

.column_counter {
  border-right: 1px solid #57FFFF;
  flex: 0 0 50px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;

  span {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
  }
}

.ram_data_wrapper {
  display: flex;
}

.ram_data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  span {
    padding-top: 5px;
    text-align: center;
    flex: 0 0 (100% / 16);
  }
}

.cache_template {
  width: 100%;
  display: flex;
  align-items: center;

  b {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  b:nth-child(1) {
    flex: 0 0 120px;
    border-right: 1px solid #57FFFF;
  }

  b:nth-child(2) {
    flex: 0 0 90px;
    border-right: 1px solid #57FFFF;
  }

  b:nth-child(3) {
    flex: 0 0 120px;
    border-right: 1px solid #57FFFF;
  }

  b:nth-child(4) {
    flex: 0 0 90px;
    border-right: 1px solid #57FFFF;
  }

  b:nth-child(5) {
    flex: 1 1 100%;
  }
}
