body {
  height: 100vh;
  background: #0000A8;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  height: inherit;
  padding: 10px;
}
